.main {
  padding-top: 1rem;
}

.members,
.articles,
.relocate {
  padding-top: 3rem;
}

.header {
  position: relative
}


@media (min-width: 1100px) {
  .main {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-gap: 5rem;
    padding-top: 3rem;
  }
  .center {
    display: flex;
  }

  .services,
  .slider {
    display: grid;
    grid-gap: 5rem;
    justify-self: center;
  }

  .slider {
    align-self: flex-start;
  }

  .footer {
    padding-top: 5rem;
  }

}
