.signup_joincity_container {
  width: 185px;
  height: 128px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 1s ease;
  outline: none;
  border: none;
  position: relative;
}
.joincity_container:hover {
  filter: brightness(1.2);
}

.signup_joincity_icon {
  width: 38px;
  height: 38px;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#signup_joincity_name {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin-top: 23px;
}
#joincity_members {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  margin-bottom: 20px;
}

@media (min-width: 1100px) {
  #joincity_members {
    font-size: 18px;
    line-height: 22px;
  }
  #signup_joincity_name {
    font-size: 30px;
    line-height: 37px;
    color: #ffffff;
    margin-bottom: 15px;
  }
  .signup_joincity_container {
    width: 280px;
    height: 194px;
  }
}
