.joincity_container {
    width: 185px;
    height: 128px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 1s ease;
}

.joincity_container:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

#joincity_name {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    margin-top: 23px;
}

#joincity_members {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    margin-bottom: 20px;
}

#joincity_join {
    width: 55.19px;
    height: 21.11px;
    background: #ffffff;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 6px;
    font-style: normal;
    font-weight: bold !important;
    font-size: 9px;
    line-height: 15px;
    text-align: center;
    color: #f24b6a;
}

#joincity_viewmore {
    background: #ffffff;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 6px;
    font-style: normal;
    font-weight: bold !important;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #f24b6a;
    margin-bottom: 10px;
}

@media (min-width: 1100px) {
    #joincity_viewmore {
        width: 115.25px;
        height: 28.59px;
        margin-bottom: 33px;
    }
    #joincity_join {
        width: 69.33px;
        height: 26px;
        background: #ffffff;
        border: 1px solid #ffffff;
        box-sizing: border-box;
        border-radius: 6px;
        font-style: normal;
        font-weight: bold !important;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        color: #f24b6a;
    }
    #joincity_members {
        font-size: 18px;
        line-height: 22px;
    }
    #joincity_name {
        font-size: 30px;
        line-height: 37px;
        color: #ffffff;
        margin-top: 23px;
        margin-bottom: 35px;
    }
    .joincity_container {
        width: 280px;
        height: 194px;
    }
}