.card {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s ease;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, .5);
    background-position: 50%;
}

.text {
    padding-left: 20px;
    color: white;
}

.title {
    font-size: 20px;
    font-weight: 600;
}

.location {
    font-size: 16px;
    font-weight: 600;
}

@media (min-width:1100px) {
    .card {
        height: 197px;
        width: 341px;
        align-items: center;
    }

    .card:hover {
        filter: brightness(1.2);
        background-color: rgba(0, 0, 0, .3);
        cursor: pointer;
    }

    .title {
        font-size: 24px;
    }

    .location{
        text-align: center;
        font-size: 14px;
    }
}