.pricing_start_modal {
  position: absolute;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  outline: none;
  position: relative;
  z-index: 11;
  width: 375px;
  height: 720px;
}

.pricing_start_modal_overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.start_left {
  width: 375px;
  height: 317px;
  background: #e33d5c;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#start_modal_header_1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 44px;
  color: #ec6079;
  margin-top: 64px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#start_modal_body_2 {
  font-size: 14px;
  line-height: 31px;
  color: #888888;
  text-align: center;
  margin: 20px;
}

.start_pricing_plans_grid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.start_modal_close_icon {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 7px;
  right: 8px;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 5px;
}

.start_modal_close_icon:hover {
  filter: brightness(70%);
}

#left_header {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 20px;
}

#added {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #ec6079;
  text-align: center;
}

@media (min-width: 1100px) {
  #start_modal_body_2 {
    font-size: 24px;
    line-height: 31px;
    color: #888888;
    text-align: center;
    margin: 90px;
  }
  .start_modal_close_icon {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 7px;
    right: 8px;
    color: #706d6d;
    border: 2px solid #706d6d;
    border-radius: 5px;
  }
  .start_modal_close_icon:hover {
    filter: brightness(70%);
  }
  #left_header {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #ffffff;
  }
  .pricing_start_modal {
    width: 1440px;
    height: 720px;
    flex-direction: row;
  }
  .start_left {
    width: 480px;
    height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .start_pricing_plans_grid {
    display: flex;
  }
  .start_right {
    width: 920px;
    height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
