@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

.container {
  padding: 50px;
  max-width: 70%;
  margin: 0 auto;
}
h1 {
  text-align: center;
  color: white;
  padding-bottom: 10px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.cl {
  height: 300px;
  width:100%;
  padding: 10px;
  background-size: cover;
}

.cl:hover {
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.25);
}

.flexbox-centering { 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100%; 
  width:100%;
  font-size:64px;
  color: white;
}

.flexbox-centering i:hover {
  cursor: pointer;
  color:#f24b6a;
}

.slide  p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  color: white;
  text-transform: uppercase;
  position: relative;
  top: 50px;
}

:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

/* video player */
.video-disabled {
  display: none;
}
#video-player p {
  visibility: hidden;
}

#video-player:hover p {
  visibility: visible;
}
.gr-close {
  font-size: 32px;
  color: #FFFFFF;
  position: absolute;
  top: 0%;
  left: 135px;
  cursor: pointer;
}
.video-player {
  z-index: 100;
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.video-frame {
  position: relative;
  height: 100%;
  width: 100%;
  /* overflow: auto; */
}
/* end video player */
.slide {
  max-width: 500px;
  margin: 0 auto;
}
@media (min-width: 1100px) {
  .gr-close {
    top: -10%;
    left: 313px;
  }
  .slide {
    max-width: 700px;
    margin: 0 auto;
  }
}