.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.container p {
font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #828282;
}

.img {
    width: 40px;
    height: 40px;
}

@media (min-width:1100px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }

    .container p {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: #828282;
    }

    .img {
        width: 75px;
        height: 75px;
    }
}