.choose_pricing_card_container {
  width: 131.77px;
  height: 264.27px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background-color: #ffffff;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(85, 85, 85, 0.25);
  border-radius: 10px;
  margin: 10px auto;
}

#choose_pricing_card_back {
  height: 132.67px;
  width: 40.84px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: absolute;
  z-index: -1;
}

.choose_pricing_card_type {
  width: 133.7px;
  height: 20.52px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #888888;
  margin-top: 10px;
  margin-bottom: 60px;
}

.choose_pricing_card_feature_icon {
  width: 11.19px;
  height: 11.19px;
  padding-right: 6px;
  color: rgb(214, 87, 69);
}

.choose_pricing_checked {
  color: rgb(107, 203, 129);
}

.choose_pricing_plan_feature {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 18px;
  width: 123px;
  margin-bottom: 1px;
}

.choose_pricing_plan_feature p {
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
  color: #909090;
  text-align: start;
}

.choose_pricing_card_get {
  width: 54px;
  height: 21px;
  border-radius: 25px;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  color: #ffffff;
  margin-top: 11px;
  outline: none;
  border: none;
}

#choose_pricing_card_banner {
  z-index: 3;
  width: 137.89px;
  height: 36.49px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  position: absolute;
  top: 40px;
  right: 9px;
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}

#choose_pricing_card_handle {
  z-index: 3;
  width: 0px;
  height: 0px;
  border-left: 15.2px solid transparent;
  position: absolute;
  top: 18.28px;
  left: -16.2px;
}

#choose_pricing_price {
  font-style: normal;
  font-weight: 600;
  font-size: 9px;
  line-height: 11px;
}

#choose_pricing_bold {
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
}

@media (min-width: 1100px) {
  #choose_pricing_bold {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
  #choose_pricing_price {
    font-size: 14px;
    line-height: 17px;
  }
  #choose_pricing_card_handle {
    border-left: 30.86px solid transparent;
    top: 44px;
    left: -32px;
  }
  #choose_pricing_card_banner {
    width: 239.55px;
    height: 65.59px;
    font-size: 18px;
    line-height: 22px;
    top: 65px;
    right: 19px;
  }
  .choose_pricing_card_get {
    width: 90px;
    height: 35px;
    margin-top: 17px;
    font-size: 14px;
    line-height: 17px;
  }
  .choose_pricing_plan_feature p {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
  }
  .choose_pricing_plan_feature {
    width: 190px;
    height: 30px;
    margin-bottom: 4px;
  }
  .choose_pricing_card_feature_icon {
    width: 18px;
    height: 18px;
    padding-right: 10x;
  }
  .choose_pricing_card_type {
    width: 215px;
    height: 33px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 103px;
    margin-top: 23px;
  }
  #choose_pricing_card_back {
    height: 445px;
    width: 145px;
  }
  .choose_pricing_card_container {
    width: 228.9px;
    height: 474.94px;
  }
}
